<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date - %-5p %t %-25logger{0} %F:%L %m%n</pattern>
        </encoder>
    </appender>

    <logger name="scalatalk" level="WARN"/>
    <logger name="com.twitter" level="WARN"/>

</configuration>
